
.question-card {
    background: linear-gradient(to left top,#00AA45,black);
    border-radius: 4px;
    padding: 1rem;
    margin-top: 11rem;
    padding: 1rem;
    width: 100%;
}

h2 {
    color: #000000;
    animation: type 8s steps(60, end);
    display: flex;
    text-align: center;
    justify-content: center;
}

p {
    color: #0d0c0c;
    white-space: pre-wrap;
    padding: 10px;
    
    /* border: 1px solid #cccccc; */
    /* border-radius: 4px; */
    /* background-color: #f9f9f9; */
    margin-top: 10px;
    animation: type 8s steps(60, end);
}
